{% extends 'base.html' %}

{% block content %}
<div class="upload-form">
    <h2 class="mb-4 text-bg-white text-white">Upload Faces of Individuals</h2>
    <form method="post" action="{% url 'faceConnect:upload_individuals' %}" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            <input type="file" name="images" accept="image/*" class="form-control mb-2" multiple required id="image-input">
        </div>
        <div id="image-upload-container">
            <!-- Dynamically appended content goes here -->
        </div>
        <button type="submit" class="btn btn-primary">Upload Images and Info</button>
    </form>
</div>
{% endblock %}

{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    var imageInput = document.getElementById('image-input');
    var container = document.getElementById('image-upload-container');

    imageInput.addEventListener('change', function () {
        var files = this.files;
        container.innerHTML = ''; // Clear existing entries

        Array.from(files).forEach((file, index) => {
            var reader = new FileReader();
            reader.onload = function (e) {
                var newWrapper = document.createElement('div');
                newWrapper.className = 'mb-3 image-upload-wrapper';
                newWrapper.innerHTML = `
                    <div class="image-preview mb-2">
                        <img src="${e.target.result}" alt="Image Preview" class="img-thumbnail" style="height: 100px;">
                    </div>
                    <input type="text" name="name_${index}" placeholder="Name" class="form-control mb-2" required>
                    <input type="text" name="mobile_number_${index}" placeholder="Mobile Number" class="form-control mb-2" required>
                    <input type="email" name="email_${index}" placeholder="Email" class="form-control mb-2" required>
                    <button type="button" class="btn btn-danger remove-field">Remove</button>
                `;
                container.appendChild(newWrapper);

                // Attach event listener for remove button
                newWrapper.querySelector('.remove-field').addEventListener('click', function () {
                    this.parentElement.remove();
                });
            };
            reader.readAsDataURL(file);
        });
    });
});
</script>
{% endblock %}
